[submodule "third_party/tgbot-cpp"]
	path = third_party/tgbot-cpp
	url = https://github.com/reo7sp/tgbot-cpp.git
[submodule "third_party/nlohmann_json"]
	path = third_party/nlohmann_json
	url = https://github.com/nlohmann/json.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/plog"]
	path = third_party/plog
	url = https://github.com/SergiusTheBest/plog.git
[submodule "third_party/thread-pool"]
	path = third_party/thread-pool
	url = https://github.com/bshoshany/thread-pool.git
